body {
	font-family: roboto;
	background: #a8ff78;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
	font-size: 24px;
	font-weight: normal;
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
}

.fa-plus {
	float: right;
}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

input {
	font-size: 18px;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

input:focus {
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background-color: white;
	height: 40px;
	line-height: 40px;
	color: #666;
}

li:nth-child(2n) {
	background-color: #f7f7f7;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

span {
	background-color: #e74c3c;
	color: white;
	height: 40px;
	width: 0px;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

.done {
	text-decoration: line-through;
	color: gray;
}